---
import { SITE } from '../data/site';
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---
<aside class="disclosure" role="note">
  <span>{SITE.disclosure}</span>
  <a href={`${base}/affiliate-policy`}>詳細</a>
</aside>
