---
import { SITE } from '../data/site';
import { getBaseUrl } from '../utils/env';

const base = getBaseUrl();
---
<aside class="disclosure" role="note">
  <span>{SITE.disclosure}</span>
  <a href={`${base}/affiliate-policy`}>詳細</a>
</aside>
