---
import { SITE } from '../data/site';
---
<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">{SITE.name}</a>
    <nav aria-label="メイン">
      <a href="/">ホーム</a>
      <a href="/guide/pillar-engineer-tenshoku-guide">完全ガイド</a>
      <a href="/about">運営者</a>
    </nav>
  </div>
</header>
